body {
  background: var(--purple2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

#main {
  width: 100%;
  max-width: 30rem;
  height: fit-content;
  padding: 1rem;
  background: var(--purple);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem black;
  color: white;
}

#main h1 {
  font-size: 3rem;
  margin: 0;
}

#notFoundText {
  margin: 1rem -1rem;
  padding: 0.5rem 0;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  overflow: hidden;
  background: var(--pink);
  color: var(--pink2);
  font-weight: bold;
  position: relative;
}

#notFoundText span {
  display: block;
  position: absolute;
  width: max-content;
  animation: kfMarquee 10s linear infinite;
}

@keyframes kfMarquee {
  from {left: 100%; transform: translateX(0%);}
  to {left: 0%; transform: translateX(-100%);}
}

#main ul {
  color: var(--blue);
  list-style: "→ ";
  margin: 0;
}

#main ul li {
  height: 2.5rem;
  transform: translateY(0rem);
}

#main ul li a {
  display: block;
  background: var(--blue);
  margin-top: 0.5rem;
  padding: 0.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: black;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0rem #5f6c98;
  transform: translateY(-0.25rem);
  text-decoration: none;
}

#main ul li a:hover {
  top: 0;
  background: var(--blue2);
  box-shadow: 0 0.25rem 0rem #5f6c98;
  transition: background-color 0.25s ease-out, transform 0.125s ease-out, box-shadow 0.125s ease-out;
}